# PostgreSQL - настройки для подключения к базе данных
POSTGRES_DB=cryptobet
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# Backend API - переменные для самого FastAPI приложения

# URL для подключения к БД из контейнера API
DATABASE_URL=postgresql+asyncpg://user:password@postgres:5432/cryptobet

# URL для подключения к Redis из контейнера API
REDIS_URL=redis://localhost:6379

# Ваш токен Telegram бота, который вы получаете у @BotFather
BOT_TOKEN=8337820818:AAHMSJQFfDL2DUDM_27HHa75-z-NkO-u9AA

# --- JWT Settings ---
# Секретный ключ для подписи JWT. МОЖЕТ совпадать с BOT_TOKEN для простоты, но в проде лучше использовать разный
SECRET_KEY=8337820818:AAHMSJQFfDL2DUDM_27HHa75-z-NkO-u9AA
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30